<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- For user story 3 -->
    <event name="catalog_controller_product_view">
        <observer name="log_product_name" instance="Yogesh\Mod1\Observer\LogProductName" />
    </event>

     <event name="controller_front_send_response_before">
        <observer name="log_html" instance="Yogesh\Mod1\Observer\LogHtml" />
        <observer name="log_router" instance="Yogesh\Mod1\Observer\LogRouter"/>

    </event>

</config>