<?xml version="1.0"?>
<!--
/**
 * @category    Pyxl
 * @package     Pyxl_Core
 * @copyright   © Pyxl, Inc. All rights reserved.
 * @license     See LICENSE.txt for license details.
 * @author      Joel Rainwater <jrainwater@pyxl.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pyxl" translate="label" sortOrder="1000">
            <label>Pyxl</label>
        </tab>
    </system>
</config>