<div class="payment-method stripe-payments"
  data-bind="
    css: {
      '_active': (getCode() == isChecked())
    }">
  <div class="payment-method-title field choice">
    <input type="radio"
      name="payment[method]"
      class="radio"
      data-bind="
        attr: { 'id': getCode() },
        value: getCode(),
        checked: isChecked,
        click: selectPaymentMethod,
        visible: isRadioButtonVisible()
      "/>
    <label class="label" data-bind="attr: {'for': getCode()}, visible: isRadioButtonVisible()">
      <span data-bind="text: getTitle()"></span>
    </label>
  </div>

  <div class="payment-method-content" data-bind="if: stripePaymentsError()">
    <p class="message message-error error">
      <!-- ko i18n: stripePaymentsError() --><!-- /ko -->
    </p>
  </div>

  <div class="payment-method-content stripe-payments-card-form" data-bind="blockLoader: isLoading">
    <div class="payment-method-billing-address">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <p class="stripe-payments-billing-address-warning" data-bind="if: !isBillingAddressSet()">
      <!-- ko i18n: 'Please update your billing address to proceed.'--><!-- /ko -->
    </p>

    <div class="stripe-dropdown stripe-element-font stripe-element-border" data-bind="visible: selection">
        <div class="stripe-dropdown-selection" data-bind="click: toggleDropdown, with: selection">
          <img data-bind="if: icon, attr: { src: icon }" />
          <span data-bind="text: label"></span>
        </div>
        <div data-bind="visible: isDropdownOpen" class="stripe-dropdown-container">
          <ul class="stripe-dropdown-list">
            <!-- ko foreach: dropdownOptions -->
            <li data-bind="attr: { id: $data.value, class: $data.value }, click: function(data)
              {
                $parent.selection(data);
                $parent.isDropdownOpen(false);
                $parent.isPaymentFormVisible(false);
              }">
              <img data-bind="attr: { src: icon }" />
              <span class="stripe-dropdown-item" data-bind="text: $data.label"></span>
            </li>
            <!-- /ko -->
            <li class="new" data-bind="click: newPaymentMethod">
              <a href="javascript:void(0);"><!-- ko i18n: 'New payment method' --><!-- /ko --></a>
            </li>
          </ul>
        </div>
    </div>

    <div class="stripe-payments-elements no-wrap" data-bind="visible: isPaymentFormVisible">
      <div id="stripe-payment-element" data-bind="afterRender: onContainerRendered">
      <!-- a Stripe Payment Element will be inserted here. -->
      </div>
    </div>

    <div class="stripe-card-cvc stripe-element-font no-wrap" data-bind="visible: collectCvc">
      <div class="instructions" data-bind="if: isAmex">
        <!-- ko i18n: 'To use this card, please enter the 4-digit security code displayed at the front of your card.' --><!-- /ko -->
      </div>
      <div class="instructions" data-bind="ifnot: isAmex">
        <!-- ko i18n: 'To use this card, please enter the 3-digit security code displayed at the back of your card.' --><!-- /ko -->
      </div>
      <div class="stripe-card-cvc-element">
        <div id="stripe-card-cvc-element" class="stripe-element-border" data-bind="afterRender: onCvcContainerRendered"></div>
        <svg class="" focusable="false" viewBox="0 0 32 21" height="24px">
          <g fill-rule="evenodd">
              <g class="Icon-fill">
                  <g transform="translate(0 2)">
                      <path d="M21.68 0H2c-.92 0-2 1.06-2 2v15c0 .94 1.08 2 2 2h25c.92 0 2-1.06 2-2V9.47a5.98 5.98 0 0 1-3 1.45V11c0 .66-.36 1-1 1H3c-.64 0-1-.34-1-1v-1c0-.66.36-1 1-1h17.53a5.98 5.98 0 0 1 1.15-9z" opacity=".2">
                      </path>
                      <path d="M19.34 3H0v3h19.08a6.04 6.04 0 0 1 .26-3z" opacity=".3">
                      </path>
                  </g>
                  <g transform="translate(18)">
                      <path d="M7 14A7 7 0 1 1 7 0a7 7 0 0 1 0 14zM4.22 4.1h-.79l-1.93.98v1l1.53-.8V9.9h1.2V4.1zm2.3.8c.57 0 .97.32.97.78 0 .5-.47.85-1.15.85h-.3v.85h.36c.72 0 1.21.36 1.21.88 0 .5-.48.84-1.16.84-.5 0-1-.16-1.52-.47v1c.56.24 1.12.37 1.67.37 1.31 0 2.21-.67 2.21-1.64 0-.68-.42-1.23-1.12-1.45.6-.2.99-.73.99-1.33C8.68 4.64 7.85 4 6.65 4a4 4 0 0 0-1.57.34v.98c.48-.27.97-.42 1.44-.42zm4.32 2.18c.73 0 1.24.43 1.24.99 0 .59-.51 1-1.24 1-.44 0-.9-.14-1.37-.43v1.03c.49.22.99.33 1.48.33.26 0 .5-.04.73-.1.52-.85.82-1.83.82-2.88l-.02-.42a2.3 2.3 0 0 0-1.23-.32c-.18 0-.37.01-.57.04v-1.3h1.44a5.62 5.62 0 0 0-.46-.92H9.64v3.15c.4-.1.8-.17 1.2-.17z">
                      </path>
                  </g>
              </g>
          </g>
        </svg>
      </div>
    </div>

    <div data-bind="if: permanentError, visible: permanentError" class="stripe-permanent-error">
      <span><!-- ko i18n: permanentError --><!-- /ko --></span>
    </div>

    <div class="checkout-agreements-block" data-bind="ifnot: permanentError">
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div class="actions-toolbar" id="actions-toolbar" data-bind="ifnot: permanentError">
      <div class="primary">
        <button class="action primary checkout" type="submit"
          data-bind="
            click: placeOrder,
            enable: isPlaceOrderEnabled(),
            attr: {title: $t('Place Order')}
          ">
          <span data-bind="i18n: 'Place Order'"></span>
        </button>
      </div>
    </div>

  </div>

</div>

