<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yogesh_Mod1::admin_controller" title="Admin Controller" module="Yogesh_Mod1" sortOrder="10" resource="Yogesh_Mod1::admin_controller" action="access/access/access"/>
    </menu>
</config>