<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Catalog\Api\Data\CategoryInterface" type="Yogesh\Mod1\MyCustomInterface" /> -->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="append_on_sale" type="Yogesh\Mod1\Plugin\AppendOnSale"/>
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="change_copyright_text" type="Yogesh\Mod1\Plugin\ChangeCopyrightText"/>
    </type>

    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="change_welcome_text" type="Yogesh\Mod1\Plugin\ChangeWelcomeText"/>
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="change_breadcrumbs_text" type="Yogesh\Mod1\Plugin\AppendHummingBird"/>
    </type>
</config>